#formulario{
    
}

#nav{
    background-color: black;
}
a{
    color: rgb(255, 255, 255);
}
.btn{
    background-color: black;
    color: blanchedalmond;
}
.navbar-brand
{
    position:absolute;
    width:100%;
    left:0;
    text-align:center;
    margin:auto;
}   

table, th, td {
    border: 2px solid rgb(255, 255, 255);
}

th, td {
    padding: 7px;
    text-align: center;
}

th{
    background-color: chartreuse;
}

td{
    background-color: cyan;
}

